@model IEnumerable<Market.Models.Medida>

@{
    ViewData["Title"] = "TiposTamanhos";
    Layout = "~/Views/Shared/_LayoutAdministrativa.cshtml";

}


<script>
    function Mudarestado(el) {
        var display = document.getElementById(el).style.display;
        if (display == "none") {
            document.getElementById(el).style.display = 'block';
            document.getElementById('addBtn').style.display = 'block';
            //document.getElementById('categoria').className += 'select2';

        } else {
            document.getElementById(el).style.display = 'none';
            document.getElementById('addBtn').style.display = 'none';           
        }
    }
</script>


<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Medida</h3>
    </div>
    <form asp-action="TiposTamanhos" class="form-horizontal">
        <div class="box-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-sm-12">
                    <div>
                        <a href="#" class="btn btn-primary btn-block" onclick="Mudarestado('addMedida')"><i class="glyphicon glyphicon-plus"></i> Nova Medida de Produtos</a>
                    </div>
                </div>
            </div>
            <div id="addMedida" style="display:none">
                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="control-label">Nome</label>
                        <input class="form-control text-danger" name="Nome" />
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Sigla</label>
                        <input class="form-control" name="Sigla" />
                    </div>
                    <div class="col-lg-5">
                        <label class="control-label">Categoria</label>
                        <select class="form-control select2" style="width: 100%;" name="CategoriaId"
                                asp-items="@(new SelectList(@ViewBag.categorias, "IdCategoria", "Descricao"))">
                            <option>Selecione categoria</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="box-footer" id="addBtn" style="display:none">
                <button type="submit" value="Create" class="btn btn-info pull-right">Adicionar</button>
            </div>
        </div>
    </form>
</div>


<div class="box">
    <div class="box-header">
        <h3 class="box-title">Medidas</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th style="width: 60%">
                        @Html.DisplayName("Nome")
                    </th>
                    <th style="width: 20%;">
                        @Html.DisplayName("Categoria")
                    </th>
                    <th style="width: 5%;">
                        @Html.DisplayName("Sigla")
                    </th>
                    <th style="width: 15%; text-align: center">
                        @Html.DisplayName("")
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Categoria.Descricao)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Sigla)
                        </td>

                        <td style="text-align: center">
                            <a asp-action="RemoveTiposTamanhos" asp-route-id="@item.IdMedida" class="glyphicon glyphicon-trash fa-lg"></a>


                            <a href="#" data-toggle="modal" data-target="#modal-edit" class="glyphicon glyphicon-edit fa-lg editInsumo"
                               rel="">
                            </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div> 