@model IEnumerable<Market.Models.Medida>

@{
    ViewData["Title"] = "TiposTamanhos";
    Layout = "~/Views/Shared/_LayoutAdministrativa.cshtml";
}

<h2>TiposTamanhos</h2>

<h4>Medida</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TiposTamanhos">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Nome</label>
                <input class="form-control text-danger" />
            </div>
            <div class="form-group">
                <label class="control-label">Sigla</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Categoria</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


<div class="box">
    <div class="box-header">
        <h3 class="box-title">Categorias de Produtos</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th style="width: 90%">
                        @Html.DisplayName("Nome")
                    </th>
                    <th style="width: 5%; text-align: center">
                        @Html.DisplayName("Categoria")
                    </th>
                    <th style="width: 5%; text-align: center">
                        @Html.DisplayName("Sigla")
                    </th>
                    <th style="width: 5%; text-align: center">
                        @Html.DisplayName("")
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Categoria.Descricao)
                        </td>

                        <td style="text-align: center">
                            <a asp-action="#" asp-route-id="@item.IdMedida" class="glyphicon glyphicon-trash fa-lg"></a>
                        </td>

                        <td style="text-align: center">
                            <a href="#" data-toggle="modal" data-target="#modal-edit" class="glyphicon glyphicon-edit fa-lg editInsumo"
                               rel="">
                            </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>